<div class="container">
    <div class="row ">
        <div id="contentdiv" class="contcustom">
            <h3>Login</h3>
            <div>
                <input type="text" placeholder="Username" ng-model="loginuser.username">
                <input type="password" placeholder="Password" ng-model="loginuser.password">
                <span class="fa fa-sign-in medhidden redborder" ng-click="loginTap()"></span>
            </div>
            <div>
                <br>
                <p>
                    <div><a id="registerAnchor" ng-click="registerTap()"> <h4>Register</h4> </a> </div>
                    <br>
                    <div>Download the Mobile application <a id="registerAnchor" href="https://drive.google.com/uc?export=download&id=0B7s2nWF2Ie-oUGwyR3UxaU9kVWc"> here </a></div>
                </p>
            </div>
        </div>
    </div>
</div>
