<div class="center-wrapper">
    <div class="container-fluid" style="height:100%">
        <div class="row" id="login-container">
        	<input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="text" ng-model="loginuser.username" placeholder="User Name">   
        	<input class="col-lg-8 col-md-8 col-sm-8 col-xs-8" type="password" ng-model="loginuser.password" placeholder="Password">   
        	<button class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="loginTap()">Login</button> 
        	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center">Click <a href="" ng-click="registerTap()">here</a> to register</div>
        </div>
    </div>
</div>
