<div class="container">
    <div class="row ">
        <div id="contentdiv" class="contcustom">
            <div class="logout-container"><span class="fa fa-arrow-circle-left medhidden" ng-click="navBack()"></span></div>
            <h3>Register</h3>
            <div>
                <input type="text" placeholder="Username" ng-model="newuser.username">
                <input type="password" placeholder="Password" ng-model="newuser.password">
                <input type="email" placeholder="Email" ng-model="newuser.email">
                <span class="fa fa-user-plus medhidden redborder" ng-click="doRegister()"></span>
            </div>
        </div>
    </div>
</div>
